<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PlanGo">

        <!-- 기존 MainActivity (런처 역할 제거) -->
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <!-- 여기서는 LAUNCHER 제거 -->
        </activity>

        <!-- 테스트용 액티비티: RoomScheduleTestActivity -->
        <activity
            android:name=".RoomScheduleTestActivity"
            android:exported="true">

            <!-- 임시로 앱 실행 시 바로 이 Activity가 뜨게 하기 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

    </application>

</manifest>
