<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- 둘 다 필요하니까 퍼미션 2개 다 살리기 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />


    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PlanGo"
        android:usesCleartextTraffic="true">

        <!-- Google Maps API Key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <!-- kakao login -->
        <meta-data
            android:name="com.kakao.sdk.appKey"
            android:value="565207f78fbd8da404f0288d6d5f9ebd" />

        <!-- ✅ 앱 실행 시 가장 먼저 뜨는 액티비티: LoginActivity -->
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.PlanGo.Splash">

            <!-- 앱 실행 시 바로 이 Activity가 뜨게 하기 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!-- 🔥 카카오 로그인 Redirect Activity -->
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- 네이티브 앱 키로 스킴 설정 필수 -->
                <data android:scheme="565207f78fbd8da404f0288d6d5f9ebd" />
            </intent-filter>
        </activity>

        <!-- SignupActivity 화면 -->
        <activity
            android:name=".SignUpActivity"
            android:exported="true" />

        <!-- 아이디 찾기 화면 -->
        <activity
            android:name=".ui.findid.FindIdActivity"
            android:exported="false" />

        <!--비밀번호 찾기 화면-->
        <activity
            android:name=".ui.findpw.FindPasswordActivity"
            android:exported="false" />

        <activity
            android:name=".ui.findpw.ResetPasswordActivity"
            android:exported="false" />




        <!-- mainActivity 화면 -->
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <!-- 여행방 생성 화면: 이제는 MainActivity에서 진입하는 화면 -->
        <activity
            android:name=".CreateRoomActivity"
            android:exported="false" />

        <!-- 여행방 일정/지도 테스트용 액티비티 -->
        <activity
            android:name=".RoomScheduleTestActivity"
            android:exported="true" />

        <activity
            android:name=".ImageGalleryActivity"
            android:exported="false" />

    </application>

</manifest>
