<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PlanGo">

        <!-- 기존 MainActivity: 나중에 홈이랑 머지할 때 다시 LAUNCHER 줄 예정 -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <!-- 🔹지금 테스트용으로 쓸 여행방 만들기 Step1 화면 -->
        <activity
            android:name=".CreateRoomActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
